<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Feeria (Kalifornijos kryptis, UAB)">
    <!--<link rel="icon" href="static/favicon.ico">-->

    <title>Company card</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="static/css/app.css" rel="stylesheet">
    <link href="static/css/components/select2.min.css" rel="stylesheet">
      
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      
    <!-- Custom scripts for this template -->
    <script src="static/js/components/select2.min.js"></script>
    <script src="static/js/components/jquery.sortable.js"></script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext,latin' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core JS -->
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="company-card">

    <!-- Top links nav -->
    <nav class="navbar navbar-top">
     <div class="container">
        <!-- Top links -->
        <ul class="nav navbar-nav">
          <li><p class="project-excerpt" href="#">L-contract — transport and logistics services auction</p></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">info@l-contract.lt</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +370 (675) 10 255</a></li>
        </ul>
        <!-- Login right menu -->
        <ul class="nav navbar-nav navbar-right navbar-login">
          <li class="dropdown red">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Login or register <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </li>
        </ul>
     </div>
    </nav>
    <!-- END Top links nav -->

    <!-- Main nav -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Logo -->
          <a class="navbar-brand" href="#">
            <img alt="LContract" src="static/img/logo.png">
          </a>
        </div>
        <!-- Menu points -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Create new concurs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">New onetime concurs</a></li>
                <li><a href="#">New longterm concurs</a></li>
              </ul>
            </li>
            <li><a href="#">Onetime concurses list</a></li>
            <li><a href="#">Longterm concurses list</a></li>
            <li><a href="#">Subscribe to new concurses</a></li>
            <li><a href="#">Companies list</a></li>
              
          </ul>
        </div>
      </div>
    </nav>
    <!-- END Main nav -->

    <!-- Content -->
    <div class="content">
      <div class="container">
          
          
        <div class="page-header">
          <h1>Kalifornijos kryptis, UAB <span class="rating"><span class="positive">15</span><span class="separator">/</span><span class="negative">2</span></span></h1>
          <p class="stats">Registration date: <span>2015.12.04</span><span class="separator">|</span>Publicated concurses: <span>12</span><span class="separator">|</span>Offers won: <span>62</span><span class="separator">|</span>Offers accepted: <span>105</span></p>
        </div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-profile-tabs" role="tablist">
            <li role="presentation" class="active"><a class="company-info" href="#company-information" aria-controls="company-information" role="tab" data-toggle="tab">Company information and actual concurses</a></li>
            <li role="presentation"><a class="employees" href="#employees" aria-controls="employees" role="tab" data-toggle="tab">Company employees</a></li>
            <li role="presentation"><a class="ratings" href="#ratings" aria-controls="ratings" role="tab" data-toggle="tab">Ratings and reviews</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content tab-profile">
            
            <div role="tabpanel" class="tab-pane fade in active" id="company-information">
                <!-- Registration form -->
                <div class="col-md-12 form-gray-bg">
                        <div class="col-md-4">
                            <h5 class="theader">Company information</h5>
                            <table class="company-information">
                              <tr>
                                <td class="field-name">Company code:</td>
                                <td>303274155</td>
                              </tr>
                              <tr>
                                <td class="field-name">VAT taxpayer code:</td>
                                <td>LT000000000000</td>
                              </tr>
                              <tr>
                                <td class="field-name">Established date:</td>
                                <td>2014-03-27</td>
                              </tr>
                              <tr>
                                <td class="field-name">Registration address:</td>
                                <td>Perkūnkiemio g. 13-91 LT-12114 Vilnius Lithuania</td>
                              </tr>
                              <tr>
                                <td class="field-name">Landline:</td>
                                <td>+370 5 200 0000</td>
                              </tr>
                              <tr>
                                <td class="field-name">Mobile phone:</td>
                                <td>+370 678 20768</td>
                              </tr>
                              <tr>
                                <td class="field-name">Fax:</td>
                                <td>+370 5 200 0000</td>
                              </tr>
                              <tr>
                                <td class="field-name">Email:</td>
                                 <td><a href="#">hi@feeria.lt</a></td>
                              </tr>
                              <tr>
                                <td class="field-name">Website:</td>
                                 <td><a href="#">www.feeria.lt</a></td>
                              </tr>
                              <tr>
                                <td class="field-name">Company type:</td>
                                <td>Customer</td>
                              </tr>
                              <tr>
                                <td class="field-name">Responsible person:</td>
                                <td>Alexander Mukbil<br/>+370 678 20768</td>
                              </tr>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <!-- TO DO: should be embed with address -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.2776399028908!2d25.217822316041467!3d54.739919977115356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd91a1881cf973%3A0xa86039cb104e514f!2sPerk%C5%ABnkiemio+g.+13%2C+Vilnius+12119!5e0!3m2!1sen!2slt!4v1449926243285" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                </div>
                <div class="col-md-12 min-borders">
                    <h3 class="current-concurs-filter">Currently actual concurses: <a href="#" class="first">onetime</a><span class="separator">|</span><span class="active">longterm</span></h3>
                    <table id="concurses" class="table sortable">
                     <thead data-header="true">
                      <tr>
                       <th data-sort-column="true">Published</th>
                       <!--<th data-sort-column="true">Services type</th>-->
                       <th data-sort-column="true">Concurs type</th>
                       <th data-sort-column="true">Description</th>
                       <th data-sort-column="true">Requirements</th>
                       <th data-sort-column="true">Terms</th>
                       <th data-sort-column="true">Valid till</th>
                       <th>Offers</th>
                      </tr>
                     </thead>
                     <tbody data-body="true">
                       
                       <tr>
                         <td>2015.11.09</td>
                         <!--<td>Cargo transportation</td>-->
                         <td>Concurs</td>
                         <td>Forest transportation from Malme, N to Kaunas, LT</td>
                         <td>You should have on your company balance 1000 Volvo FH17 trucks</td>
                         <td>1-2 years</td>
                         <td>2015.11.29</td>
                         <td><a href="#"><small>5 offers</small>
                             <button class="btn btn-sm btn-primary">View concurs</button></a>
                         </td>
                       </tr>
                       
                       <tr>
                         <td>2015.11.09</td>
                         <!--<td>Cargo transportation</td>-->
                         <td>Concurs</td>
                         <td>Forest transportation from Malme, N to Kaunas, LT</td>
                         <td>You should have on your company balance 1000 Volvo FH17 trucks</td>
                         <td>1-2 years</td>
                         <td>2015.11.29</td>
                         <td><a href="#"><small>5 offers</small>
                             <button class="btn btn-sm btn-primary">View concurs</button></a>
                         </td>
                       </tr>
                         
                       <tr>
                         <td>2015.11.09</td>
                         <!--<td>Cargo transportation</td>-->
                         <td>Concurs</td>
                         <td>Forest transportation from Malme, N to Kaunas, LT</td>
                         <td>You should have on your company balance 1000 Volvo FH17 trucks</td>
                         <td>1-2 years</td>
                         <td>2015.11.29</td>
                         <td><a href="#"><small>5 offers</small>
                             <button class="btn btn-sm btn-primary">View concurs</button></a>
                         </td>
                       </tr>
                         
                     </tbody>
                    </table>
                </div>
            </div>
              
            <div role="tabpanel" class="tab-pane fade" id="employees">
                <div class="col-md-12 min-borders">
                    <div class="col-wrap form form-employees">
                        <div class="list-group">
                          <div class="list-group-item">
                            <div class="employee-info">
                              <h4 class="list-group-item-heading">Alexander Mukbil, <span class="phone">+37067820768</span>
                              <span class="badge">Administrator</span></h4>
                              <p class="list-group-item-text">CEO, <a href="mailto:hi@feeria.lt">hi@feeria.lt</a></p>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="employee-info">
                              <h4 class="list-group-item-heading">Ovidijus Sudžius, <span class="phone">+37061441414</span></h4>
                              <p class="list-group-item-text">sales manager, <a href="mailto:o.sudzius@feeria.lt">o.sudzius@feeria.lt</a></p>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="employee-info">
                              <h4 class="list-group-item-heading">Monika Berenskaitė, <span class="phone">+37061005885</span></h4>
                              <p class="list-group-item-text">sales manager, <a href="mailto:m.berenskaite@feeria.lt">m.berenskaite@feeria.lt</a></p>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="employee-info">
                              <h4 class="list-group-item-heading">Andrius Salauskas, <span class="phone">+37069986885</span></h4>
                              <p class="list-group-item-text">truck driver, <a href="mailto:a.salauskas@feeria.lt">a.salauskas@feeria.lt</a></p>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="employee-info">
                              <h4 class="list-group-item-heading">Alexes Kiprakas, <span class="phone">+37069998878</span></h4>
                              <p class="list-group-item-text">truck driver, <a href="mailto:a.kiprakas@feeria.lt">a.kiprakas@feeria.lt</a></p>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="employee-info">
                              <h4 class="list-group-item-heading">Aleksandras Veniskas, <span class="phone">+37060125656</span></h4>
                              <p class="list-group-item-text">truck driver, <a href="mailto:a.veniskas@feeria.lt">a.veniskas@feeria.lt</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="ratings">
                <div class="col-md-6 min-borders">
                    <div class="col-wrap form form-ratings">
                        <h3>Positive ratings <span class="badge positive">5</span></h3>
                        <div class="list-group">
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon positive"></div>
                          </div>
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon positive"></div>
                          </div>
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon positive"></div>
                          </div>
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon positive"></div>
                          </div>
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon positive"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 min-borders">
                    <div class="col-wrap form form-ratings">
                        <h3>Negative ratings <span class="badge negative">2</span></h3>
                        <div class="list-group">
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon negative"></div>
                          </div>
                          <div class="list-group-item">
                            <div class="rating-info">
                              <h4 class="list-group-item-heading"><span class="customer-name">Trevor Phillips Industries USA</span> (2015-11-11)</h4>
                              <p class="list-group-item-text">Good company, we was satisfied by all the stuff.</p>
                              </div>
                              <div class="rating-icon negative"></div>
                          </div>
                        </div>
                    </div>
                
                <div class="clearfix"></div>
                
                <div class="form-group text-center">
                    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addTestimonial">Add testimonial</button>
                </div>
                </div>
              </div>
          </div>           
      </div>
    </div>
    <!-- END Content -->

    <!-- Footer -->
    <footer id="footer">
      <div class="row">
     <div class="container">

      <div class="col-md-3">
         <h4>Contacts</h4>
         <ul>
           <li><img src="static/img/icon-footer-mail.png"> <a href="#">info@l-contract.lt</a></li>
           <li><img src="static/img/icon-footer-phone.png"> <a href="#">+370 (675) 10 255</a></li>
         </ul>
      </div>
         
      <div class="col-md-3">
         <h4>Connect with us</h4>
         <ul>
           <li><img src="static/img/icon-footer-fb.png"> <a href="#">Facebook</a></li>
           <li><img src="static/img/icon-footer-li.png"> <a href="#">LinkedIn</a></li>
         </ul>
      </div>
      <div class="col-md-3">
         <h4>Sitemap</h4>
         <ul>
           <li><a href="#">Onetime contests</a></li>
           <li><a href="#">Longterm contests</a></li>
           <li><a href="#">Subscribe to new contests</a></li>
           <li><a href="#">Company search</a></li>
           <li><a href="#">Create new onetime contest</a></li>
           <li><a href="#">Create new longterm contest</a></li>
         </ul>
      </div>
      <div class="col-md-3">
        <h4>About LContract</h4>
        <p>UAB „Tempus Trans“ — efektyvias transporto ir logistikos paslaugas teikianti kompanija. Savo veiklą pradėjusi 2006 metais kaip krovinių gabenimo paslaugas teikianti įmonė, „Tempus Trans“ išaugo iki įmonių grupės, galinčios klientams.</p>
      </div>
         
     </div>
     </div>
    </footer>
    <!-- END Footer-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <!-- Modal: add testimonial -->
    <div class="modal fade" id="addTestimonial" tabindex="-1" role="dialog" aria-labelledby="addTestimonialLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add testomonial for Kalifornijos kryptis, UAB</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <textarea class="form-control" name="testimonial-text" placeholder="Leave your testimonial" rows="2"></textarea>
              </div>
              <div class="btn-group">
                <label class="btn btn-default">
                  <input type="radio" name="options" id="testimonial-negative" autocomplete="off"> Negative
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" id="testimonial-positive" autocomplete="off"> Positive
                </label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add testimonial</button>
          </div>
        </div>
      </div>
    </div>      

    <script type="text/javascript">
        $('#concurses.sortable').sortable();
        $('#offers.sortable').sortable();
    </script>      

  </body>
</html>
