<html>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .col { float: left; }
        .col-33 { width: 33%; }
        .col-50 { width: 50%; }
    </style>
    <body>
                <div class="col col-33">
                    <p>Loading dates and place: 2015.07.15 - 2015.07.20</p>
                    <p>Delivery dates and place: 2015.07.23 - 2015.07.25</p>
                    <p>Weight and cargo type: 24t, FTL</p>
                    <p>Count: 240 boxes</p>
                </div>
                <div class="col col-33">
                    <p>Description: wood</p>
                    <p>Lift options: on load, on unload</p>
                    <p>Loading type: side</p>
                    <p>Unloading type: side</p>
                </div>
                <div class="col col-33">
                    <p>Additional info: some text</p>
                    <p>Payment type: wiretransfer in 45 d.</p>
                    <p>Offered price, €: 500,00</p>
                </div>
                <div class="col col-50">
                    <p>Customer:</p>
                    <p>TempusTrans, UAB, Sarunas Peikstenis, 861113748</p>
                </div>
                <div class="col col-50">
                    <p>Carrier:</p>
                    <p>IkiTrans, UAB, Aunas Laikstas, 852115588</p>
                </div>
    </body>
</html>