<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            font-size: 12px;
        }
    </style>
    <body>
                    <h2>Cargo carry conditions page</h2>
                    <table width="100%">
                      <tr>
                        <td><u>Customer:</u></td>
                        <td><u>Carrier:</u></td>
                      </tr>
                      <tr>
                        <td><b>TempusTrans, UAB</b>, Sarunas Peikstenis, 861113748</td>
                        <td><b>IkiTrans, UAB</b>, Sarunas Peikstenis, 861113748</td>
                      </tr>
                      <tr>
                        <td><u><br/>Cargo sender company:</u></td>
                        <td><u><br/>Cargo receiver company:</u></td>
                      </tr>
                      <tr>
                        <td><b>TempusTrans, UAB</b>, Sarunas Peikstenis, 861113748
                            <br/>Lithuania, LT-12114, Vilnius, Perkūnkiemio g. 13-91
                        </td>
                        <td><b>IkiTrans, UAB</b>, Sarunas Peikstenis, 861113748
                            <br/>Lithuania, LT-12114, Vilnius, Perkūnkiemio g. 13-91
                        </td>
                      </tr>
                    </table>
                    <br/>
        
                    <table width="100%">
                      <tr>
                        <td><u>Loading dates and place:</u></td>
                        <td>2015.07.15 - 2015.07.20</td>
                        <td><u>Description:</u></td>
                        <td>wood</td>
                        <td><u>Additional info:</u></td>
                        <td>some text</td>
                      </tr>
                      <tr>
                        <td><u>Delivery dates and place:</u></td>
                        <td>2015.07.23 - 2015.07.25</td>
                        <td><u>Lift options:</u></td>
                        <td>on load, on unload</td>
                        <td><u>Payment type:</u></td>
                        <td>wiretransfer in 45 d.</td>
                      </tr>
                      <tr>
                        <td><u>Weight and cargo type:</u></td>
                        <td>24t, FTL</td>
                        <td><u>Loading type:</u></td>
                        <td>side</td>
                        <td><u>Offered price, €:</u></td>
                        <td>500,00</td>
                      </tr>
                      <tr>
                        <td><u>Count:</u></td>
                        <td>240 boxes</td>
                        <td><u>Unloading type:</u></td>
                        <td>side</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>                    
                    <br/>
        
                    <table>
                      <tr>
                        <td><u>Cargo carry conditions:</u></td>
                      </tr>
                      <tr>
                        <td>2014 metais UAB „Tempus Trans“ buvo įteiktas vienos didžiausios Europos transporto biržų Trans.eu patikimo partnerio sertifikatas TCF. Šis sertifikatas yra laiku įsipareigojimų įvykdymo bei aukščiausios kokybės paslaugų teikimo patvirtinimas. TCF sertifikatas įteikiamas įmonėms, galinčioms užtikrinti aukščiausią teikiamų paslaugų kokybę vežėjams ir siuntėjams.Patikimumas ir aukšta paslaugų kokybė yra vieni iš svarbiausių mūsų įmonės tikslų. Siekiame ne atsitiktinio, o ilgalaikio, artimo ir abipusiai naudingo bendradarbiavimo su mūsų įmonės klientais ir partneriais. Suprantame, kad atsakingas požiūris ir įsipareigojimų vygdymas yra vieni svarbiausių faktorių siekiant ilgalaikio ir sėkmingo bendradarbiavimo.</td>
                      </tr>
                      <tr>
                        <td><u>Car license plate (-s):</u></td>
                      </tr>
                      <tr>
                        <td>HRG504, HV5004</td>
                      </tr>
                    </table>
                    <br/>
        
                    <table width="100%">
                      <tr>
                        <td><u>Customer:</u></td>
                        <td><u>Carrier:</u></td>
                      </tr>
                      <tr>
                        <td><b>TempusTrans, UAB</b>, į.k. 300155555</td>
                        <td><b>IkiTrans, UAB</b>, į.k. 300155555</td>
                      </tr>
                      <tr>
                        <td>Sarunas Peikstenis</td>
                        <td>Rolandas Larkanaks</td>
                      </tr>
                      <tr>
                        <td>Tel. 861113748</td>
                        <td>Tel. 861113748</td>
                      </tr>
                      <tr>
                        <td><b>Signature:</b></td>
                        <td><b>Signature:</b></td>
                      </tr>
                      <tr>
                        <td>_______________________________ A.V.</td>
                        <td>_______________________________ A.V.</td>
                      </tr>
                    </table>
    </body>
</html>