<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Feeria (Kalifornijos kryptis, UAB)">
    <!--<link rel="icon" href="static/favicon.ico">-->

    <title>Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="static/css/app.css" rel="stylesheet">
    <link href="static/css/components/dropzone.min.css" rel="stylesheet">
    <link href="static/css/components/select2.min.css" rel="stylesheet">
    <link href="static/css/components/bootstrap-datetimepicker.min.css" rel="stylesheet">
      
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      
    <!-- Custom scripts for this template -->
    <script src="static/js/components/dropzone.min.js"></script>
    <script src="static/js/components/select2.min.js"></script>
    <script src="static/js/components/moment.js"></script>
    <script src="static/js/components/bootstrap-datetimepicker.min.js"></script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext,latin' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core JS -->
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="registration">

    <!-- Top links nav -->
    <nav class="navbar navbar-top">
     <div class="container">
        <!-- Top links -->
        <ul class="nav navbar-nav">
          <li><p class="project-excerpt" href="#">L-contract — transport and logistics services auction</p></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">info@l-contract.lt</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +370 (675) 10 255</a></li>
        </ul>
        <!-- Login right menu -->
        <ul class="nav navbar-nav navbar-right navbar-login">
          <li class="dropdown red">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Login or register <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </li>
        </ul>
     </div>
    </nav>
    <!-- END Top links nav -->

    <!-- Main nav -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Logo -->
          <a class="navbar-brand" href="#">
            <img alt="LContract" src="static/img/logo.png">
          </a>
        </div>
        <!-- Menu points -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Create new concurs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">New onetime concurs</a></li>
                <li><a href="#">New longterm concurs</a></li>
              </ul>
            </li>
            <li><a href="#">Onetime concurses list</a></li>
            <li><a href="#">Longterm concurses list</a></li>
            <li><a href="#">Subscribe to new concurses</a></li>
            <li><a href="#">Companies list</a></li>
              
          </ul>
        </div>
      </div>
    </nav>
    <!-- END Main nav -->

    <!-- Content -->
    <div class="content">
      <div class="container">

        <!-- Login form -->
        <div class="col-md-4">
            <h3>Login</h3>
            <div class="col-wrap form form-gray-bg form-login">
              <form name="login-form">
                  <div class="form-group">
                    <input type="email" class="form-control" id="name" placeholder="E-mail address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="contact" placeholder="Password">
                  </div>
                  <div class="form-group submit">
                    <div class="left">
                        <div class="checkbox remember-me">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div> 
                        <a href="#">Forgot your password?</a>
                    </div>
                    <div class="right">
                      <button type="submit" class="btn btn-lg btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>  
                      </button>
                    </div>
                  </div>
              </form>
            </div>
        </div>
        
        <!-- Registration form -->
        <div class="col-md-8">
            <h3>Registration</h3>
            <div class="col-wrap form form-gray-bg form-register">
              <form name="registration-form">
                  <p>Register and become customer to receive best offers or carrier to offer best price.</p>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading">Login information</div>
                    <div class="panel-body">
                        
                      <div class="form-group email-group">
                        <input type="email" class="form-control" id="email" placeholder="E-mail address">
                      </div>
                        
                      <div class="form-group pass-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                        
                      <div class="form-group pass-group">
                        <input type="password" class="form-control" id="repeat-password" placeholder="Repeat password">
                      </div>
                        
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">Company type</div>
                    <div class="panel-body">
                    
                    <p class="help-block"><small>Please select your company type. Carrier can publicate offers in customers concurses. Customer can publicate concurses.</small></p>
                        
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="c-type-carrier" autocomplete="off"> My company is <strong>carrier</strong>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="c-type-customer" autocomplete="off"> My company is <strong>customer</strong>
                      </label>
                    </div>
                        
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading">Company requisites and contacts</div>
                    <div class="panel-body">
                        
                      <div class="form-group c-name-group">
                        <input type="text" class="form-control" id="c-name" placeholder="Company name *" required>
                      </div>
                        
                      <div class="form-group c-code-group">
                        <input type="text" class="form-control" id="c-code" placeholder="Code *" required>
                      </div>
                        
                      <div class="form-group c-vat-code-group">
                        <input type="text" class="form-control" id="c-vat-code" placeholder="VAT code">
                      </div>
                        
                      <div class="form-group c-established-group">
                        <input type="text" class="form-control date-picker" id="c-established" placeholder="Established">
                      </div>
                      
                      <div class="form-group c-address-group">
                        <input type="text" class="form-control" id="c-address" placeholder="Address">
                      </div>
                        
                      <div class="form-group c-zip-group">
                        <input type="text" class="form-control" id="c-zip" placeholder="ZIP">
                      </div>
                        
                      <div class="form-group c-city-group">
                        <input type="text" class="form-control" id="c-city" placeholder="City">
                      </div>

                      <div class="form-group c-country-group">
                          <select class="form-control" id="c-country" placeholder="Country">
                            <option value="4">Afghanistan</option>
                            <option value="248">Åland Islands</option>
                            <option value="8">Albania</option>
                            <option value="12">Algeria</option>
                            <option value="16">American Samoa</option>
                            <option value="20">Andorra</option>
                            <option value="24">Angola</option>
                            <option value="660">Anguilla</option>
                            <option value="10">Antarctica</option>
                            <option value="28">Antigua and Barbuda</option>
                            <option value="32">Argentina</option>
                            <option value="51">Armenia</option>
                            <option value="533">Aruba</option>
                            <option value="36">Australia</option>
                            <option value="40">Austria</option>
                            <option value="31">Azerbaijan</option>
                            <option value="44">Bahamas</option>
                            <option value="48">Bahrain</option>
                            <option value="50">Bangladesh</option>
                            <option value="52">Barbados</option>
                            <option value="112">Belarus</option>
                            <option value="56">Belgium</option>
                            <option value="84">Belize</option>
                            <option value="204">Benin</option>
                            <option value="60">Bermuda</option>
                            <option value="64">Bhutan</option>
                            <option value="68">Bolivia, Plurinational State of</option>
                            <option value="535">Bonaire, Sint Eustatius and Saba</option>
                            <option value="70">Bosnia and Herzegovina</option>
                            <option value="72">Botswana</option>
                            <option value="74">Bouvet Island</option>
                            <option value="76">Brazil</option>
                            <option value="86">British Indian Ocean Territory</option>
                            <option value="96">Brunei Darussalam</option>
                            <option value="100">Bulgaria</option>
                            <option value="854">Burkina Faso</option>
                            <option value="108">Burundi</option>
                            <option value="116">Cambodia</option>
                            <option value="120">Cameroon</option>
                            <option value="124">Canada</option>
                            <option value="132">Cape Verde</option>
                            <option value="136">Cayman Islands</option>
                            <option value="140">Central African Republic</option>
                            <option value="148">Chad</option>
                            <option value="152">Chile</option>
                            <option value="156">China</option>
                            <option value="162">Christmas Island</option>
                            <option value="166">Cocos (Keeling) Islands</option>
                            <option value="170">Colombia</option>
                            <option value="174">Comoros</option>
                            <option value="178">Congo</option>
                            <option value="180">Congo, the Democratic Republic of the</option>
                            <option value="184">Cook Islands</option>
                            <option value="188">Costa Rica</option>
                            <option value="384">Côte d'Ivoire</option>
                            <option value="191">Croatia</option>
                            <option value="192">Cuba</option>
                            <option value="531">Curaçao</option>
                            <option value="196">Cyprus</option>
                            <option value="203">Czech Republic</option>
                            <option value="208">Denmark</option>
                            <option value="262">Djibouti</option>
                            <option value="212">Dominica</option>
                            <option value="214">Dominican Republic</option>
                            <option value="218">Ecuador</option>
                            <option value="818">Egypt</option>
                            <option value="222">El Salvador</option>
                            <option value="226">Equatorial Guinea</option>
                            <option value="232">Eritrea</option>
                            <option value="233">Estonia</option>
                            <option value="231">Ethiopia</option>
                            <option value="238">Falkland Islands (Malvinas)</option>
                            <option value="234">Faroe Islands</option>
                            <option value="242">Fiji</option>
                            <option value="246">Finland</option>
                            <option value="250">France</option>
                            <option value="254">French Guiana</option>
                            <option value="258">French Polynesia</option>
                            <option value="260">French Southern Territories</option>
                            <option value="266">Gabon</option>
                            <option value="270">Gambia</option>
                            <option value="268">Georgia</option>
                            <option value="276">Germany</option>
                            <option value="288">Ghana</option>
                            <option value="292">Gibraltar</option>
                            <option value="300">Greece</option>
                            <option value="304">Greenland</option>
                            <option value="308">Grenada</option>
                            <option value="312">Guadeloupe</option>
                            <option value="316">Guam</option>
                            <option value="320">Guatemala</option>
                            <option value="831">Guernsey</option>
                            <option value="324">Guinea</option>
                            <option value="624">Guinea-Bissau</option>
                            <option value="328">Guyana</option>
                            <option value="332">Haiti</option>
                            <option value="334">Heard Island and McDonald Islands</option>
                            <option value="336">Holy See (Vatican City State)</option>
                            <option value="340">Honduras</option>
                            <option value="344">Hong Kong</option>
                            <option value="348">Hungary</option>
                            <option value="352">Iceland</option>
                            <option value="356">India</option>
                            <option value="360">Indonesia</option>
                            <option value="364">Iran, Islamic Republic of</option>
                            <option value="368">Iraq</option>
                            <option value="372">Ireland</option>
                            <option value="833">Isle of Man</option>
                            <option value="376">Israel</option>
                            <option value="380">Italy</option>
                            <option value="388">Jamaica</option>
                            <option value="392">Japan</option>
                            <option value="832">Jersey</option>
                            <option value="400">Jordan</option>
                            <option value="398">Kazakhstan</option>
                            <option value="404">Kenya</option>
                            <option value="296">Kiribati</option>
                            <option value="408">Korea, Democratic People's Republic of</option>
                            <option value="410">Korea, Republic of</option>
                            <option value="414">Kuwait</option>
                            <option value="417">Kyrgyzstan</option>
                            <option value="418">Lao People's Democratic Republic</option>
                            <option value="428">Latvia</option>
                            <option value="422">Lebanon</option>
                            <option value="426">Lesotho</option>
                            <option value="430">Liberia</option>
                            <option value="434">Libya</option>
                            <option value="438">Liechtenstein</option>
                            <option value="440" selected>Lithuania</option>
                            <option value="442">Luxembourg</option>
                            <option value="446">Macao</option>
                            <option value="807">Macedonia, the former Yugoslav Republic of</option>
                            <option value="450">Madagascar</option>
                            <option value="454">Malawi</option>
                            <option value="458">Malaysia</option>
                            <option value="462">Maldives</option>
                            <option value="466">Mali</option>
                            <option value="470">Malta</option>
                            <option value="584">Marshall Islands</option>
                            <option value="474">Martinique</option>
                            <option value="478">Mauritania</option>
                            <option value="480">Mauritius</option>
                            <option value="175">Mayotte</option>
                            <option value="484">Mexico</option>
                            <option value="583">Micronesia, Federated States of</option>
                            <option value="498">Moldova, Republic of</option>
                            <option value="492">Monaco</option>
                            <option value="496">Mongolia</option>
                            <option value="499">Montenegro</option>
                            <option value="500">Montserrat</option>
                            <option value="504">Morocco</option>
                            <option value="508">Mozambique</option>
                            <option value="104">Myanmar</option>
                            <option value="516">Namibia</option>
                            <option value="520">Nauru</option>
                            <option value="524">Nepal</option>
                            <option value="528">Netherlands</option>
                            <option value="540">New Caledonia</option>
                            <option value="554">New Zealand</option>
                            <option value="558">Nicaragua</option>
                            <option value="562">Niger</option>
                            <option value="566">Nigeria</option>
                            <option value="570">Niue</option>
                            <option value="574">Norfolk Island</option>
                            <option value="580">Northern Mariana Islands</option>
                            <option value="578">Norway</option>
                            <option value="512">Oman</option>
                            <option value="586">Pakistan</option>
                            <option value="585">Palau</option>
                            <option value="275">Palestinian Territory, Occupied</option>
                            <option value="591">Panama</option>
                            <option value="598">Papua New Guinea</option>
                            <option value="600">Paraguay</option>
                            <option value="604">Peru</option>
                            <option value="608">Philippines</option>
                            <option value="612">Pitcairn</option>
                            <option value="616">Poland</option>
                            <option value="620">Portugal</option>
                            <option value="630">Puerto Rico</option>
                            <option value="634">Qatar</option>
                            <option value="638">Réunion</option>
                            <option value="642">Romania</option>
                            <option value="643">Russian Federation</option>
                            <option value="646">Rwanda</option>
                            <option value="652">Saint Barthélemy</option>
                            <option value="654">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="659">Saint Kitts and Nevis</option>
                            <option value="662">Saint Lucia</option>
                            <option value="663">Saint Martin (French part)</option>
                            <option value="666">Saint Pierre and Miquelon</option>
                            <option value="670">Saint Vincent and the Grenadines</option>
                            <option value="882">Samoa</option>
                            <option value="674">San Marino</option>
                            <option value="678">Sao Tome and Principe</option>
                            <option value="682">Saudi Arabia</option>
                            <option value="686">Senegal</option>
                            <option value="688">Serbia</option>
                            <option value="690">Seychelles</option>
                            <option value="694">Sierra Leone</option>
                            <option value="702">Singapore</option>
                            <option value="534">Sint Maarten (Dutch part)</option>
                            <option value="703">Slovakia</option>
                            <option value="705">Slovenia</option>
                            <option value="90">Solomon Islands</option>
                            <option value="706">Somalia</option>
                            <option value="710">South Africa</option>
                            <option value="239">South Georgia and the South Sandwich Islands</option>
                            <option value="728">South Sudan</option>
                            <option value="724">Spain</option>
                            <option value="144">Sri Lanka</option>
                            <option value="729">Sudan</option>
                            <option value="740">Suriname</option>
                            <option value="744">Svalbard and Jan Mayen</option>
                            <option value="748">Swaziland</option>
                            <option value="752">Sweden</option>
                            <option value="756">Switzerland</option>
                            <option value="760">Syrian Arab Republic</option>
                            <option value="158">Taiwan, Province of China</option>
                            <option value="762">Tajikistan</option>
                            <option value="834">Tanzania, United Republic of</option>
                            <option value="764">Thailand</option>
                            <option value="626">Timor-Leste</option>
                            <option value="768">Togo</option>
                            <option value="772">Tokelau</option>
                            <option value="776">Tonga</option>
                            <option value="780">Trinidad and Tobago</option>
                            <option value="788">Tunisia</option>
                            <option value="792">Turkey</option>
                            <option value="795">Turkmenistan</option>
                            <option value="796">Turks and Caicos Islands</option>
                            <option value="798">Tuvalu</option>
                            <option value="800">Uganda</option>
                            <option value="804">Ukraine</option>
                            <option value="784">United Arab Emirates</option>
                            <option value="826">United Kingdom</option>
                            <option value="840">United States</option>
                            <option value="581">United States Minor Outlying Islands</option>
                            <option value="858">Uruguay</option>
                            <option value="860">Uzbekistan</option>
                            <option value="548">Vanuatu</option>
                            <option value="862">Venezuela, Bolivarian Republic of</option>
                            <option value="704">Viet Nam</option>
                            <option value="92">Virgin Islands, British</option>
                            <option value="850">Virgin Islands, U.S.</option>
                            <option value="876">Wallis and Futuna</option>
                            <option value="732">Western Sahara</option>
                            <option value="887">Yemen</option>
                            <option value="894">Zambia</option>
                            <option value="716">Zimbabwe</option>
                          </select>
                      </div>
                        
                      <div class="form-group c-phone-group">
                        <input type="text" class="form-control" id="c-landline-phone" placeholder="Landline phone">
                      </div>
                        
                      <div class="form-group c-phone-group">
                        <input type="text" class="form-control" id="c-mobile-phone" placeholder="Mobile phone">
                      </div>
                        
                      <div class="form-group c-phone-group">
                        <input type="text" class="form-control" id="c-fax" placeholder="Fax">
                      </div>
                        
                      <div class="form-group c-website-group">
                        <input type="text" class="form-control" id="c-website" placeholder="Website">
                      </div>
                        
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">Responsible person (company administrator)</div>
                    <div class="panel-body">
                        
                      <div class="form-group p-name-group">
                        <input type="text" class="form-control" id="p-name" placeholder="Name *" required>
                      </div>
                        
                      <div class="form-group p-surname-group">
                        <input type="text" class="form-control" id="p-surname" placeholder="Surname *" required>
                      </div>
                        
                      <div class="form-group p-position-group">
                        <input type="text" class="form-control" id="p-position" placeholder="Position">
                      </div>
                        
                      <div class="form-group p-phone-group">
                        <input type="text" class="form-control" id="p-phone" placeholder="Contact phone">
                      </div>
                        
                      <div class="form-group p-email-group">
                        <input type="text" class="form-control" id="p-email" placeholder="Contact e-mail *" disabled required>
                      </div>
                        
                    </div>
                  </div>
                  

                </form>
                
                  <div class="panel panel-default">
                    <div class="panel-heading">Company documents</div>
                    <div class="panel-body">
                        
                      <div class="file-upload">
                        <label for="dropzone">Upload reqiured documents</label>
                        <form action="/" class="dropzone"></form>
                        <p class="help-block">Please upload document (company registration certificate, insurance, VAT taxpayer certificate etc.).</p>
                      </div>
                        
                    </div>
                  </div>

                  <div class="form-group submit">
                    <button type="submit" class="btn btn-lg btn-primary">Register</button>
                  </div>
                
            </div>
        </div>
        
      </div>
    </div>
    <!-- END Content -->

    <!-- Footer -->
    <footer id="footer">
      <div class="row">
     <div class="container">

      <div class="col-md-3">
         <h4>Contacts</h4>
         <ul>
           <li><img src="static/img/icon-footer-mail.png"> <a href="#">info@l-contract.lt</a></li>
           <li><img src="static/img/icon-footer-phone.png"> <a href="#">+370 (675) 10 255</a></li>
         </ul>
      </div>
         
      <div class="col-md-3">
         <h4>Connect with us</h4>
         <ul>
           <li><img src="static/img/icon-footer-fb.png"> <a href="#">Facebook</a></li>
           <li><img src="static/img/icon-footer-li.png"> <a href="#">LinkedIn</a></li>
         </ul>
      </div>
      <div class="col-md-3">
         <h4>Sitemap</h4>
         <ul>
           <li><a href="#">Onetime contests</a></li>
           <li><a href="#">Longterm contests</a></li>
           <li><a href="#">Subscribe to new contests</a></li>
           <li><a href="#">Company search</a></li>
           <li><a href="#">Create new onetime contest</a></li>
           <li><a href="#">Create new longterm contest</a></li>
         </ul>
      </div>
      <div class="col-md-3">
        <h4>About LContract</h4>
        <p>UAB „Tempus Trans“ — efektyvias transporto ir logistikos paslaugas teikianti kompanija. Savo veiklą pradėjusi 2006 metais kaip krovinių gabenimo paslaugas teikianti įmonė, „Tempus Trans“ išaugo iki įmonių grupės, galinčios klientams.</p>
      </div>
         
     </div>
     </div>
    </footer>
    <!-- END Footer-->
      
    <script type="text/javascript">
        $('select').select2();
        $('.date-picker').datetimepicker({
            format: "YYYY-MM-DD",
            sideBySide: true
        });
    </script>
      
    <!-- END Footer-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
